@font-face {
	font-family: Lato;
	src: url('/LatoLatin-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: Lato;
	src: url('/LatoLatin-Italic.woff2') format('woff2');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: Lato;
	src: url('/LatoLatin-Semibold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: Lato;
	src: url('/LatoLatin-Heavy.woff2') format('woff2');
	font-weight: 900;
	font-style: normal;
}

:root {
	--column-bg: #303e4d;
	--active-item: #6698c8;
	--active-item-text: #fff;
	--hover-item: #4a5664;
	--text-color: #fff;
	--top-nav-bg: #2c3849;
	--top-nav-text: #fff;
}

html,
body {
	height: 100%;
}

body {
	font-family: Lato, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
	margin: 0;
	padding: 0;
}

:any-link {
	color: #1264a3;
}

:any-link:hover {
	color: #0b4c8c;
}
